.button_search {
    padding: 10px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 1000;
    color: #000;
    background-color: #fff;
    border: 2px solid rgb(60 60 67 / 63%);
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button_search:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.page-item {
    cursor: pointer;
    margin: 0 0.5rem;
}

.page-link {
    color: #007bff;
}

.page-link:hover {
    color: #0056b3;
}

.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}


.load{position:absolute;top:50%;left:60%;transform:translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
}

.page-link{

}
.link {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.song_list{

}
.song_list:hover {
    background-color: #f5f5f5;
}
.cancel{
    display: none;
}
.song_list:hover .cancel{
    display: block;
}
.song_list:hover .more{
    display: block;
}

.singer_pic{
    width: 20%;
    border-radius: 30px;
}
.vertical_center{
    display: flex;
    align-items: center;
}

.four{
    width:25%;
    height:auto;
    float:left;
    display:inline
}
.album_pic{
    width: 90%;
    border-radius: 30px;
}

.albumNameSize{
    font-size: 10px;
}
.albumartistSize{
    font-size: 8px;
    color: #797777;
}
.singerNameSize{
    font-size: 15px;
}
.songSize{
    font-size: 16px;
}
.playerIconSize{
    width: 30px;
    align-items: center;
}
.changeMouse{

}
.changeMouse:hover{
    cursor: pointer;
}

.more{
    width: 30px;
    height: 30px;
    /*display: none;*/
    /*transform-origin: center;*/
    /*transform: scale(0.5);*/
    /*background-image: url("../../assets/more.png");*/
}
.more:hover{

}
.dropdownButton{
    background-color: white;
}
.custom-dropdown .dropdown-toggle::after {
    display: none;
}
.dropdownTitle{
}